<h1>Astronauts</h1>

<% @astronauts.each do |astronaut| %>
  <p><%=astronaut.name%></p>
  <p><%=astronaut.age%></p>
  <p><%=astronaut.job%></p>
<% end %>

<h3>Average age: <%=@astronauts.average_age%></h3>
